PORT=4000
JWT_SECRET=change_me
AUTH_SERVICE_URL=http://localhost:4001/graphql
VEHICLE_SERVICE_URL=http://localhost:4002/graphql
TRAFFIC_SERVICE_URL=http://localhost:4003/graphql
INCIDENT_SERVICE_URL=http://localhost:4004/graphql
NOTIFICATION_SERVICE_URL=http://localhost:4005/graphql
